@{
    ViewData["Title"] = "About Us";
}

<h2>About FitPulse Gym</h2>
<p>
    kaalik 24/7 Gym is a modern fitness center dedicated to helping individuals achieve their health goals.
    With experienced trainers, state-of-the-art equipment, and flexible workout programs, 
    we ensure your path to fitness is effective and enjoyable.
</p>
